.img_logo{
    width: 20% !important;
}
.image_top{
width: 100%;
height: 691px;
}
.hero{
    height: unset !important;
}
.speakers-image{
    
    width: auto !important;
    
}
.Img_mac{
    text-align: end !important;
}
#section_2{
    padding-bottom: 0px !important;
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1574px !important;
    } 
    .sy-slides-wrap{
        height: 450px !important;
      }
      .news-slider .image-content img{
        max-height: 454px;
      }
}
@media only screen and (max-width: 600px) {
.sy-box{
    display: none !important;
}
.expertise {
    width: 100% !important;
}
.imgrl{
    display: none !important;
}
.text-align-center{
    text-align: center;
}

.slider-btns{
    margin-top: 50% !important;
}
.video-wrap img{
    height: 270px !important;
}
}

.hero::after{
    background:none !important
}

.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.icon_title{
    padding-top: 10%;
    text-align: center;
    color: #393D6C;
}
.bleu_color{
    color: #393D6C;
    font-weight: bold;
}
.title_pf{
    text-align: center;
}
.section-padding {
    padding-top: 30px !important;
}
.row-padding{
    padding-bottom: 4%;
}
.title_color{
   color: #b35b45;
}
.title_color_with{
    color: #fff;
}
.speakers{
    background: #F3F3F3 !important;
}

@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis-VariableFont_wght.ttf");
  }

.dosis-font{
    font-family: Dosis;
}

@font-face {
    font-family: quicksand;
    src: url("../fonts/static/Quicksand-Bold.ttf");
  }

  @font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
  }

  .Roboto-Medium{
    font-family: Roboto-Medium;
    }

.quicksand-font{
font-family: quicksand;
}

.section_4_background{
    background-image: url("../images/C1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.expertise{
    float: right !important;
    background-color: #E5EAF2;
    width: 30%;
    opacity: 0.9;
}
.expertise_title{
    margin: 3%; 
}
.expertise_row{
    margin-top: -30px;
}
.principaux_clients{
    margin-top: 50px;
    margin-bottom: 50px;
}
.principaux_clients span{

}
.padding-logos{
    padding-bottom: 34px;
}
#section_5{
    background-image: url("../images/Offres_Bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pricing-title-wrap-june{
    background: #dcc269 !important;
}
.pricing-title-wrap-read{
    background: #d96943 !important;
}

.pricing-title-wrap-blue{
    background: #6e7bc5 !important;
}
.Demandez-Devis{
    padding-top: 30px;
}
.venue{
    background: #ffffff !important;
}
.contact-form h5{
    padding: 10px 26px;
}
.custom-form .form-control {
    background: #F3F3F3 !important;
}
.site-footer{
    background: var(--navbar-bg-color);
}
.padding-bottom{
    padding-bottom: 0px !important;
}
#section_3 img{
    height: 50px;
}
.slider-btns {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12%;
    width: 96%;
}
.slider-btns span {
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.151);
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.error{
    margin-bottom: 28px;
    color: red;

}

.mySlides{
    transition: 1s ease-in-out;
}

/* News */
.news-slider {
    /* Style the actual content */
  }
  .news-slider .text-content {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
    width: 30%;
    height: 400%;
  }
  .news-slider .text-content h2 {
    margin: 0;
  }
  .news-slider .text-content p {
    margin: 1em 0;
  }
  .news-slider .text-content a.button-link {
    padding: 0.25em 0.5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
  }
  .news-slider .image-content {
    line-height: 0;
  }
  .news-slider .image-content img {
    max-width: 100%;
    width: 100%;
  }
  .news-slider .news-pager {
    text-align: right;
    display: block;
    margin: 0.2em 0 0;
    padding: 0;
    list-style: none;
  }
  .news-slider .news-pager li {
    display: inline-block;
    padding: 0.6em;
    margin: 0 0 0 1em;
  }
  .news-slider .news-pager li.sy-active a {
    color: #31ace2;
  }
  .news-slider .news-pager li a {
    font-weight: 500;
    text-decoration: none;
    display: block;
    color: #222;
  }
  .check_green{
    color: green;
  }
  h5{
  font-weight: 50 !important;
}
#section_2 .bleu_color {
    text-align: justify;
    line-height: 40px;
}